h1{
  font-family: sans-serif;
  text-align: center;
  padding-left: 4%;
}
body{
background-color: #C4A484;
}
p{
  text-align: center;
  font-family:fantasy;
  font-size: 30px;
}
.page{
  background-color: #FFE4B5;
  background-position: center;
  border-radius: 1rem 1rem 1rem 1rem;
  width: 70%;
  height: 1000px;
  right: 190px;
  left: 16%;
  position: absolute;

}
.innermid{
  background-color: #BDB76B;
  border-radius: 1rem 1rem 1rem 1rem;
  position: absolute;
  width: 60%;
  height: 15%;
  top: 20%;
  left: 22%;
}
.toolholder{
  position: relative;
	height: 70%;
	left: 15%;
  z-index: 1;
  top: 12%;
}
.tool{
  max-width: 105%;
  max-height: 105%;
  position:absolute;
  z-index: 2;
  border-radius: 4rem 4rem 4rem 4rem;
}
#rock{
  left: 20%;

}
#paper{
  top:-97%;
  padding-left:-10%;
  left: 59%;
  opacity: 1;
  background-color: blue;

}
#scissor{
  top: -195%;
  left: -10%;
  padding-left: 1%;
  opacity: 1;

}
